#navigation-bar {
  background: #DADADA;
  color: #000;
  display: table;
  height: 40px;
  overflow: hidden;
  padding: 0 0.2em;
  user-select: none;
  width: 100%;

  position: absolute;
  left: 0; top: 0; right: 0;

  -webkit-app-region: drag;
}

#navigation-bar > #navigation-bar-left {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}
#navigation-bar > #navigation-bar-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
#navigation-bar > #navigation-bar-right {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}

#navigation-bar > #navigation-bar-left > div {
  border-spacing: 0.6em 0.4em;
  display: table;
}
#navigation-bar > #navigation-bar-left > div > div {
  display: table-cell;
  -webkit-app-region: no-drag;
}

#navigation-bar > #navigation-bar-right > div {
  border-spacing: 0.6em 0;
  display: table;
  float: right;
  margin-right: 0.3em;
}
#navigation-bar > #navigation-bar-right > div > div {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: default;
  display: table-cell;
  padding: 0.2em 0;
  height: 20px;
  width: 20px;
  -webkit-app-region: no-drag;
}
#navigation-bar > #navigation-bar-right > div > div:hover {
  background-position: center center;
  background-repeat: no-repeat;
}

#navigation-bar .button {
  height: 20px;
  width: 20px;
}
#navigation-bar .button:hover {
  opacity: 0.6;
}

#navigation-bar.error {
  background-color: #B72F2F;
  color: #FFF;
}
#navigation-bar.warning {
  background-color: #F2EA52;
  color: #000;
}

#navigation-bar #btn-add-audience {
  background-image: url("../image/navbar-dark/add-audience.png");
}
#navigation-bar #btn-create-presentation {
  background-image: url("../image/navbar-dark/add-presentation.png");
}
#navigation-bar #btn-back {
  background-image: url("../image/navbar-dark/back.png");
}
#navigation-bar #btn-cancel {
  background-image: url("../image/navbar-dark/cancel.png");
}
#navigation-bar #btn-close {
  background-image: url("../image/navbar-dark/placeholder.png");
}
#navigation-bar #btn-close:hover {
  background-image: url("../image/navbar-dark/close.png");
}
#navigation-bar #btn-display-errors {
  background-image: url("../image/navbar-dark/error.png");
}
#navigation-bar #btn-forward {
  background-image: url("../image/navbar-dark/forward.png");
}
#navigation-bar #btn-generate {
  background-image: url("../image/navbar-dark/generate.png");
}
#navigation-bar #btn-home {
  background-image: url("../image/navbar-dark/home.png");
}
#navigation-bar #btn-maximize {
  background-image: url("../image/navbar-dark/placeholder.png");
}
#navigation-bar #btn-maximize:hover {
  background-image: url("../image/navbar-dark/maximize.png");
}
#navigation-bar #btn-minimize {
  background-image: url("../image/navbar-dark/placeholder.png");
}
#navigation-bar #btn-minimize:hover {
  background-image: url("../image/navbar-dark/minimize.png");
}
#navigation-bar #btn-save {
  background-image: url("../image/navbar-dark/save.png");
}

#navigation-bar.error #btn-add-audience {
  background-image: url("../image/navbar-light/add-audience.png");
}
#navigation-bar.error #btn-create-presentation {
  background-image: url("../image/navbar-light/add-presentation.png");
}
#navigation-bar.error #btn-back {
  background-image: url("../image/navbar-light/back.png");
}
#navigation-bar.error #btn-cancel {
  background-image: url("../image/navbar-light/cancel.png");
}
#navigation-bar.error #btn-close {
  background-image: url("../image/navbar-light/placeholder.png");
}
#navigation-bar.error #btn-close:hover {
  background-image: url("../image/navbar-light/close.png");
}
#navigation-bar.error #btn-display-errors {
  background-image: url("../image/navbar-light/error.png");
}
#navigation-bar.error #btn-forward {
  background-image: url("../image/navbar-light/forward.png");
}
#navigation-bar.error #btn-generate {
  background-image: url("../image/navbar-light/generate.png");
}
#navigation-bar.error #btn-home {
  background-image: url("../image/navbar-light/home.png");
}
#navigation-bar.error #btn-maximize {
  background-image: url("../image/navbar-light/placeholder.png");
}
#navigation-bar.error #btn-maximize:hover {
  background-image: url("../image/navbar-light/maximize.png");
}
#navigation-bar.error #btn-minimize {
  background-image: url("../image/navbar-light/placeholder.png");
}
#navigation-bar.error #btn-minimize:hover {
  background-image: url("../image/navbar-light/minimize.png");
}
#navigation-bar.error #btn-save {
  background-image: url("../image/navbar-light/save.png");
}
